* {
  margin: 0;
  padding: 0;
}
div {
  border: 2px red solid;
  padding: 5vw; /* vh, vw, vmin, % */
  margin: 1em;
  width: 100%;
  box-sizing: border-box;
}

ul {
  text-align: center;
}

li {
  display: inline-block;
  border: 2px solid green;
  padding: 2em;
}
