* {
  box-sizing: border-box;
}

html {
  --main-blue-color: #4071f4;
  --user-photo-size: 100px;
}

body {
  font-family: sans-serif;
  background-color: antiquewhite;
  text-align: center;
}

.user-card {
  margin: 20px auto;
  max-width: 350px;
  min-width: 250px;
  background-color: white;
  border-radius: 17px;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
}

.blue-bg {
  background-color: var(--main-blue-color);
  height: 100px;
}

.user-photo-wrapper {
  width: var(--user-photo-size);
  height: var(--user-photo-size);
  border-radius: 50%;
  margin-top: calc(var(--user-photo-size) * -3 / 4);
  overflow: hidden;
  border: 2px solid var(--main-blue-color);
  display: inline-block;
}

.user-photo {
  width: var(--user-photo-size);
  height: var(--user-photo-size);
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.content-conteiner {
  padding: 0 20px 15px;
}

h2,
p,
.links-conteiner,
.btn-conteiner,
.social-linc {
  margin-bottom: 0.4em;
}

.social-linc {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  color: white;
  font-size: 15px;
}

.fb-link {
  background-color: var(--main-blue-color);
}

.tw-link {
  background-color: #1da1f1;
}

.inst-link {
  background-color: #e52f6c;
}

.youtube-link {
  background-color: #fc0000;
}

.social-linc + .social-linc {
  margin-left: 7px;
}

.sub-btn,
.mes-btn {
  color: white;
  background-color: var(--main-blue-color);
  border-radius: 15px;
  border: var(--main-blue-color);
  padding: 4px;
}

.mes-btn {
  margin-left: 20px;
}

.social-count-list {
  font-size: 0;
}

.social-count {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
}

.social-count + .social-counts {
  border-left: 1px solid grey;
}
